header {
  background-image: url("../images/marble.jpg");
}

header nav a {
  text-decoration: none;
  color: grey;
  margin-right: 10px;
  font-size: 1.25rem;
}

h2 a {
  color: black;
  text-decoration: none;
  padding: 20px;
}

.button:hover {
  background-color: lavenderblush;
}

.flex-items {
  background-image: url("../images/flowers.jpeg");
  opacity:0.5;
  transition: 1s ease;
 }

  
.flex-items:hover{
  opacity:1;
  transition: 1s ease;
  }

main {
    
  }
footer {
   
  }